body{
    background-color: rgb(0, 0, 0);
}

#navigation{
    position: fixed;
    width: 17vw;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    left: 0px;
    top: 9vh;
    overflow:scroll;
    color: white;
}
#navigation #nav-YT{
    height:20vh;
    padding-left: 5px;
}
#navigation button{
    display: flex;
    width: 16vw;
    height: 5vh;
    text-align: left;
    padding-left: 25px;
    padding-top: 5px;
    border-radius: 10px;
    font-size: 15px;
    background-color: rgb(0, 0, 0);
    color: white;
    overflow: hidden;
}
#navigation button div{
    padding-top: 4px;
}
#navigation button:hover{
    background-color: rgb(29, 29, 29);
}
#navigation img{
    height: 25px;
    width: 25px;
    padding-right: 30px;
}
#navigation #nav-user{
    height: 25vh;
    padding-left: 5px;
}
#navigation p{
    font-size: 17px;
    padding-left: 25px;
}
#navigation #nav-subscription{
    height: 25vh;
}
#navigation #nav-explore{
    height: 50vh;
}
#navigation #nav-moreYT{
    height: 30vh;
}
#navigation #nav-setting{
    height: 20vh;
}
#navigation #policys{
    height: 30vh;
}
#navigation a{
    color: rgb(172, 169, 169);
    text-decoration: none;
    margin-left: 25px;
    font-size: 13px;
}
#navigation h4{
    color: grey;
    text-align: center;
    padding-top: 20px;
}
#lead-container{
    position: fixed;
    height: 8vh;
    width: 100vw;
    background-color: rgb(0, 0, 0);
    left: 0px;
    top: 0px;
    display: flex;
    flex-direction: row;
    text-align: center;
}
#lead-container #start{
    background-color: rgb(0, 0, 0);
    width: 17.38vw;
    height: 9vh;
}

#lead-container #start img{
    height: 25px;
    width: 100px;
    padding-top: 20px;
}

#lead-container #central{
    background-color: rgb(0, 0, 0);
    width: 70vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
#lead-container #central input{
    font-size: 20px;
    width: 35vw;
    height: 30px;
    margin-top: 10px;
    border-radius: 20px;
    background-color: rgb(27, 27, 27);
    border:1px solid grey;
    color: white;
}
#lead-container #central img{
    padding-top: 10px;
    padding-left: 10px;
    height: 30px;
    width: 30px;
}
#lead-container #end{
    background-color: rgb(0, 0, 0);
    width: 15vw; 
}
#lead-container #end div{
    padding-top: 15px;
    float: right;
    padding-right: 15px;
}
#lead-container #end img{
    height: 30px;
    width: 30px;
    padding-left: 15px;
}
#lead-container #end .profile-img{
    border-radius: 15%;
}
#lead-nav{
    position: fixed;
    height: 5vh;
    width: 100vw;
    top: 8vh;
    left: 17vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: rgb(0, 0, 0);
    align-items: center;

}
#lead-nav button{
    height: 4vh;
    margin-left: 20px;
    border-radius: 7px;
    background-color: rgb(85, 85, 85);
    color: white;
}
#lead-nav button:hover{
    background-color: rgb(127, 127, 128);
}
#lead-nav a{
    text-decoration: none;
    color: white;
    font-size: 15px;
}
hr{
    width: 13vw;
}
#vcontainer{
    position: absolute;
    height: 38vh;
    width: 83vw;
    left: 17vw;
    top: 15vh;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
}
#vcontainer #YT-video{
    height: 28vh;
    width: 20vw;
    margin-top: 10px;
    background-color: rgb(0, 0, 0);
}
#vcontainer #YT-video div{
    padding-top: 5px;
    color: white;
}
#vcontainer #YT-video iframe{
    border-radius: 20px;
}