body{
    background-color: rgb(0, 0, 0);
}

#navigation{
    position: fixed;
    width: 17vw;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    left: 0px;
    top: 9vh;
    overflow:scroll;
    color: white;
}
#navigation #nav-YT{
    height:20vh;
    padding-left: 5px;
}
#navigation button{
    display: flex;
    width: 16vw;
    height: 5vh;
    text-align: left;
    padding-left: 25px;
    padding-top: 5px;
    border-radius: 10px;
    font-size: 15px;
    background-color: rgb(0, 0, 0);
    color: white;
    overflow: hidden;
}
#navigation button div{
    padding-top: 4px;
}
#navigation button:hover{
    background-color: rgb(29, 29, 29);
}
#navigation img{
    height: 25px;
    width: 25px;
    padding-right: 30px;
}
#navigation #nav-user{
    height: 25vh;
    padding-left: 5px;
}
#navigation p{
    font-size: 17px;
    padding-left: 25px;
}
#navigation #nav-subscription{
    height: 25vh;
}
#navigation #nav-explore{
    height: 50vh;
}
#navigation #nav-moreYT{
    height: 30vh;
}
#navigation #nav-setting{
    height: 20vh;
}
#navigation #policys{
    height: 30vh;
}
#navigation a{
    color: rgb(172, 169, 169);
    text-decoration: none;
    margin-left: 25px;
    font-size: 13px;
}
#navigation h4{
    color: grey;
    text-align: center;
    padding-top: 20px;
}
#lead-container{
    position: fixed;
    height: 8vh;
    width: 100vw;
    background-color: rgb(0, 0, 0);
    left: 0px;
    top: 0px;
    display: flex;
    flex-direction: row;
    text-align: center;
}
#lead-container #start{
    background-color: rgb(0, 0, 0);
    width: 17.38vw;
    height: 9vh;
}

#lead-container #start img{
    height: 25px;
    width: 100px;
    padding-top: 20px;
}

#lead-container #central{
    background-color: rgb(0, 0, 0);
    width: 70vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
#lead-container #central input{
    font-size: 20px;
    width: 35vw;
    height: 30px;
    margin-top: 10px;
    border-radius: 20px;
    background-color: rgb(27, 27, 27);
    border:1px solid grey;
    color: white;
}
#lead-container #central img{
    padding-top: 10px;
    padding-left: 10px;
    height: 30px;
    width: 30px;
}
#lead-container #end{
    background-color: rgb(0, 0, 0);
    width: 15vw; 
}
#lead-container #end div{
    padding-top: 15px;
    float: right;
    padding-right: 15px;
}
#lead-container #end img{
    height: 30px;
    width: 30px;
    padding-left: 15px;
}
#lead-container #end .profile-img{
    border-radius: 15%;
}
#lead-nav{
    position: fixed;
    height: 5vh;
    width: 100vw;
    top: 8vh;
    left: 17vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: rgb(0, 0, 0);
    align-items: center;

}
#lead-nav button{
    height: 4vh;
    margin-left: 20px;
    border-radius: 7px;
    background-color: rgb(85, 85, 85);
    color: white;
}
#lead-nav button:hover{
    background-color: rgb(127, 127, 128);
}
#lead-nav a{
    text-decoration: none;
    color: white;
    font-size: 15px;
}
hr{
    width: 13vw;
}
#vcontainer{
    position: absolute;
    height: 80vh;
    width: 82vw;
    left: 18vw;
    top: 15vh;
    background-color: rgb(102, 58, 58);
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: #000000;
    padding: 10px;
    overflow: auto;
}
#vcontainer #YT-video{
    height: 27vh;
    width: 20vw;
    background-color: rgb(0, 0, 0);
}
#vcontainer #YT-video div{
    padding-left: 20px;
    color: white;
    text-align: left;
}
#vcontainer #YT-video iframe{
    border-radius: 20px;
    height: 18vh;
    width: 19vw;
}
#YT-video .channel{
    font-size: 13px;
    color: rgb(114, 111, 111);
}

@media(max-width:820px){
    #navigation{
        width: 11.5vw;
    }
    #navigation button{
        width: 8vw;
        padding-left: 15px;
    }
    #navigation p{
        font-size: 12px;
        padding-left: 5px;
    }
    #navigation a{
        color: rgb(172, 169, 169);
        text-decoration: none;
        margin-left: 5px;
        font-size: 10px;
    }
    #lead-container{
        position: fixed;
        height: 8vh;
        width: 100vw;
        background-color: rgb(0, 0, 0);
        left: 0px;
        top: 0px;
        display: flex;
        flex-direction: row;
        text-align: center;
    }
    #lead-container #start{
        width: 17vw;
    }
    #lead-container #start img{
        height: 28px;
        width: 75px;
    }
    #lead-container #central{
        width: 63vw;
    }
    #lead-container #end{
        width: 20vw; 
    }
    #lead-nav{
        left: 9.4vw;
    }
    #lead-nav button{
        height: 3.5vh;
        width: auto;
        margin-left: 5px;
        overflow:hidden;
    }
    #lead-nav a{
        font-size: 10px;
    }
    hr{
        width: 7vw;
    }
    #vcontainer{
        height: 85vh;
        width: 88.5vw;
        left: 12vw;
        top: 13vh;
        grid-template-columns: auto auto;
        padding-left: 20px;
    }
    #vcontainer #YT-video{
        padding-top: 5px;
        height: 30vh;
        width: 40vw;
        background-color: rgb(0, 0, 0);
    }
    #vcontainer #YT-video iframe{
        border-radius: 20px;
        height: 20.5vh;
        width: 35vw;
    }
}
@media(max-width:1180px){
    body{
        background-color: antiquewhite;
    }
}